<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Christmas Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
    <div class="snowflake">
      ❅
    </div>
    <div class="snowflake">
      ❆
    </div>
  </div>
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center">
      <ion-col
        tappable
        (click)="openDoor(door)"
        class="ion-text-center"
        size="4"
        *ngFor="let door of doors"
      >
        <div class="day" [ngClass]="{'closed': closed(door)}">
          <div class="locked"></div>
          <div class="locked-horizontal"></div>
          <p>{{door + 1}}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
